.todos-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.overview-pane {
    width: 100%;
    padding: 0.1rem;
}

.blocking-popup {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex; /* none */
    justify-content: center;
}

.confirm-delete-popup[data-is-popup-visible="true"] {
    display: flex;
}

.confirm-delete-popup[data-is-popup-visible="false"] {
    display: none;
}

.delete-popup-content-wrapper {
    width: 23rem;
    height: 10rem;
    margin: 2rem;
    background: var(--content-background-color);
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 2rem auto 3rem;
    grid-template-areas:
        "header header"
        "icon content"
        "footer footer";
}

.delete-popup-content-wrapper .delete-header {
    grid-area: header;
    align-self: center;
    padding: 0.5rem;
    background: var(--warning-header-background-color);
    color: var(--warning-header-text-color);
    font-weight: bold;
    text-align: center;
}

.delete-popup-content-wrapper .delete-content {
    grid-area: content;
    padding-top: 1rem;
}

.delete-popup-content-wrapper .action-buttons {
    grid-area: footer;
    margin: 0.5rem;
}

.delete-confirm,
.delete-cancel {
    width: 8rem;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 22rem;
}

.edit-pane[data-is-popup-visible="true"] {
    display: flex;
}

.edit-pane[data-is-popup-visible="false"] {
    display: none;
}

.sort-buttons {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.4rem;
}

.sort-button {
    background: var(--button-background-color);
    width: 9rem;
}

.sort-button[data-is-active="true"] {
    color: var(--active-button-text-color);
    background: var(--active-button-background-color);
}

.sort-button[data-sort-asc="true"]::after {
    content: " \025B2";
}

.sort-button[data-sort-asc="false"]::after {
    content: " \025BC";
}

.add-and-filter-pane {
    display: flex;
    justify-content: space-between;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.new-button {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    color: var(--important-button-text-color);
    background: var(--important-button-background-color);
}

.new-button:hover {
    background: var(--important-button-hover-color);
}

.list-entry-container {
    border: var(--entry-border);
    box-shadow: var(--entry-border-shadow);
    margin: 0.5rem 0.5rem 1rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: row;
    max-height: 6.5rem;
}

.list-entry-main {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.list-entry-title {
    flex: 1;
    font-weight: bold;
}

.list-entry-importance {
    width: 7rem;
    letter-spacing: 0.5rem;
}

.list-entry-due-date {
    width: 12rem;
    text-align: right;
}

.list-entry-description {
    border: var(--entry-border1);
    border-style: solid;
    border-width: 1px;
    background: var(--entry-description-background-color);
    resize: none;
    width: 100%;
    height: 3.5rem;
}

.list-entry-buttons {
    margin: 0.1rem;
    display: flex;
    flex-flow: column;
}

.list-entry-btn {
    margin: 0.15rem;
    padding: 0;
    font-weight: 700;
    font-size: medium;
    align-self: center;
    height: 2rem;
    width: 1.5rem;
}

/* show/hide completed switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 22px;
    background-color: var(--button-background-color);
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    border-radius: 50%;
    background-color: var(--active-button-text-color);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--active-button-background-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--active-button-background-color);
}

input:checked + .slider::before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}
