.list-entry-color-0 {
    background: rgba(200, 200, 200, 0.2);
}

.list-entry-color-1 {
    background: rgba(255, 230, 128, 0.2);
}

.list-entry-color-2 {
    background: rgba(255, 128, 128, 0.2);
}

.list-entry-color-3 {
    background: rgba(128, 255, 128, 0.2);
}

.list-entry-color-4 {
    background: rgba(80, 128, 255, 0.2);
}
