.edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-item-wrapper {
    display: flex;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    justify-content: space-between;
}

.form-label {
    width: 20%;
}

.form-input {
    width: 80%;
}

.form-item-small-wrapper {
    display: flex;
    width: 100%;
}

.form-label-small {
    width: 40%;
}

.form-input-small {
    width: 40%;
}

.description-field {
    resize: none;
    height: 5rem;
}

.nxtprev_btn {
    text-decoration: none;
    display: inline-block;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
