.edit-form {
    background: white;
    width: 40rem;
    height: 27rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-item-wrapper {
    display: flex;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.form-label {
    width: 20%;
}

.form-input {
    width: 80%;
}

.form-input-small {
    width: 15rem;
}

.form-input-very-small {
    width: 5rem;
}

.description-field {
    resize: none;
    height: 5rem;
}

.form-color-chooser {
    background: var(--color-chooser-background-color);
}

.form-item-footer {
    justify-content: space-between;
}

.nxtprev_btn {
    text-decoration: none;
    display: inline-block;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 22rem;
}
