.edit-form {
    background: var(--body-background-color);
    border: var(--entry-border);
    box-shadow: var(--entry-border-shadow);
    width: 40rem;
    height: 27rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.edit-form-wrapper {
    background: var(--content-background-color);
    border-bottom: var(--entry-border);
}

.form-item-wrapper {
    background: var(--content-background-color);
    display: flex;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.form-label {
    width: 20%;
    background: var(--content-background-color);
}

.form-input {
    width: 80%;
    background: var(--content-background-color);
}

.form-input-small {
    width: 15rem;
    background: var(--content-background-color);
}

.form-input-very-small {
    width: 5rem;
    background: var(--content-background-color);
}

.description-field {
    resize: none;
    height: 5rem;
}

.form-color-chooser {
    background: var(--color-chooser-background-color);
}

.form-item-footer {
    justify-content: space-between;
    padding-top: 0.4rem;
    border-top: var(--entry-border1);
}

.nxtprev_btn {
    text-decoration: none;
    display: inline-block;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 22rem;
}
