/* variables declaration */
:root {
    --body-background-color: rgba(255, 255, 255, 1);
    --header-background-color: rgba(255, 255, 255, 1);
    --header-text-color: rgba(0, 0, 0, 1);
    --header-background-image: none;
    --content-background-color: rgba(255, 255, 255, 1);
    --content-text-color: rgba(0, 0, 0, 1);
    --aside-background-color: rgba(245, 245, 245, 1);
    --aside-text-color: rgba(255, 255, 255, 1);
    --footer-background-color: var(--header-background-color);
    --footer-text-color: var(--header-text-color);
    --global-font: "Roboto", sans-serif;
    --button-text-color: rgba(10, 10, 10, 1);
    --button-background-color: rgba(220, 220, 220, 1);
    --button-hover-color: rgba(93, 147, 186, 1);
    --button-border-color: rgb(142, 142, 142);
    --button-border-shadow: none;
    --active-button-text-color: rgba(255, 255, 255, 1);
    --active-button-background-color: rgba(30, 80, 255, 0.8);
    --important-button-text-color: var(--active-button-text-color);
    --important-button-background-color: rgba(0, 180, 50, 1);
    --important-button-hover-color: rgba(0, 255, 0, 1);
    --entry-background-color: rgba(230, 230, 230, 1);
    --entry-description-background-color: rgba(255, 255, 255, 0.2);
    --entry-border: none;
    --entry-border1: 1px solid rgba(180, 180, 180, 1);
    --entry-border-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    --button-animation-name: none;
    --animation: none;
    --header-animation: none;
}

/* global stuff */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--global-font);
    color: var(--content-text-color);
}

body {
    background: var(--body-background-color);
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    min-height: 100vh;
}

/* header */
.page-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background-color);
    background-image: var(--header-background-image);
}

.page-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}

.page-nav-list-item:not(:last-child) {
    margin-right: 10px;
}

.page-nav-link {
    text-decoration: none;
}

.page-title {
    color: var(--header-text-color);
    font-weight: 400;
    animation: var(--header-animation);
}

.action-button {
    text-align: center;
    color: var(--button-text-color);
    background: var(--button-background-color);
    border: var(--button-border-color);
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.4rem;
    box-shadow: var(--button-border-shadow);
    padding: 0.25rem;
    animation: var(--animation);
}

.action-button:hover {
    background: var(--button-hover-color);
    color: var(--button-text-color);
}

.theme-changer {
    background: var(--button-background-color);
    text-decoration: none;
    width: 8rem;
}

/* main part */
.page-main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    background: var(--content-background-color);
}

.main-aside {
    grid-area: aside;
    background: var(--aside-background-color);
}

/* footer */
.page-footer {
    grid-area: footer;
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--footer-background-color);
}

.footer-top-link {
    text-decoration: none;
    background: var(--button-background-color);
}

.footer-top-link-container {
    transform: rotate(-90deg);
}
