/* variables declaration */
:root {
    --body-background-color: rgba(255, 255, 255, 1);
    --header-background-color: rgba(255, 255, 255, 1);
    --header-text-color: rgba(0, 0, 0, 1);
    --header-background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 1), rgba(200, 200, 200, 1));
    --content-background-color: rgba(255, 255, 255, 1);
    --body-background-image: none;
    --content-text-color: rgba(0, 0, 0, 1);
    --aside-background-color: rgba(245, 245, 245, 1);
    --aside-text-color: rgba(255, 255, 255, 1);
    --footer-background-color: var(--header-background-color);
    --footer-background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 1), rgba(200, 200, 200, 1));
    --footer-text-color: var(--header-text-color);
    --quote-background-color: rgba(235, 235, 235, 1);
    --global-font: "Roboto", sans-serif;
    --button-text-color: rgba(10, 10, 10, 1);
    --button-background-color: rgba(220, 220, 220, 1);
    --button-hover-color: rgba(93, 147, 186, 1);
    --button-border-color: rgb(142, 142, 142);
    --button-border-shadow: none;
    --active-button-text-color: rgba(255, 255, 255, 1);
    --active-button-background-color: rgba(30, 90, 255, 0.8);
    --important-button-text-color: var(--active-button-text-color);
    --important-button-background-color: rgba(0, 180, 50, 1);
    --important-button-hover-color: rgba(0, 255, 0, 1);
    --entry-background-color: rgba(230, 230, 230, 1);
    --entry-description-background-color: rgba(255, 255, 255, 0.2);
    --entry-border: none;
    --entry-border1: 1px solid rgba(180, 180, 180, 1);
    --entry-border-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    --button-animation-name: none;
    --animation: none;
    --header-animation: none;
    --color-chooser-background-color: var(--content-background-color);
    --rating-star-color-0: rgba(100, 100, 100, 1);
    --rating-star-color-1: rgba(20, 120, 255, 1);
    --rating-star-color-2: rgba(0, 255, 0, 1);
    --rating-star-color-3: rgba(255, 255, 0, 1);
    --rating-star-color-4: rgba(255, 128, 0, 1);
    --rating-star-color-5: rgba(255, 0, 0, 1);
    --rating-star-shadow-color-0: 0 0 0.1rem rgba(0, 0, 0, 1);
    --rating-star-shadow-color-1: var(--rating-star-shadow-color-0);
    --rating-star-shadow-color-2: var(--rating-star-shadow-color-0);
    --rating-star-shadow-color-3: var(--rating-star-shadow-color-0);
    --rating-star-shadow-color-4: var(--rating-star-shadow-color-0);
    --rating-star-shadow-color-5: var(--rating-star-shadow-color-0);
}

/* global stuff */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--global-font);
    color: var(--content-text-color);
}

body {
    background: var(--body-background-color);
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    min-height: 100vh;
}

/* header */
.page-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background: var(--header-background-color);
    background-image: var(--header-background-image);
    border-bottom: solid 0.1rem var(--button-border-color);
}

.page-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    height: 100%;
}

.page-nav-list-item {
    padding: 0.4rem 0.7rem;
}

.page-nav-list-item[data-is-active="true"] {
    border-bottom: solid 0.4rem var(--active-button-background-color);
}

.page-nav-list-item:hover {
    background: var(--active-button-background-color);
}

.page-nav-list-item:not(:last-child) {
    margin-right: 0.1rem;
}

.page-nav-link {
    text-decoration: none;
}

.page-title {
    color: var(--header-text-color);
    font-weight: 400;
    animation: var(--header-animation);
}

.action-button {
    text-align: center;
    color: var(--button-text-color);
    background: var(--button-background-color);
    border: var(--button-border-color);
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.4rem;
    box-shadow: var(--button-border-shadow);
    padding: 0.25rem;
    animation: var(--animation);
}

.action-button:hover {
    background: var(--button-hover-color);
    color: var(--button-text-color);
}

.theme-changer {
    background: var(--button-background-color);
    text-decoration: none;
    width: 8rem;
}

/* main part */
.page-main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    background: var(--content-background-color);
    background-image: var(--body-background-image);
}

.main-aside {
    grid-area: aside;
    display: flex;
    font-weight: 300;
    font-size: smaller;
    flex-direction: column;
    padding: 1rem 1rem;
    background: var(--aside-background-color);
}

.aside-info-wrapper {
    display: flex;
    flex-direction: column;
}

.aside-info-wrapper h3 {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.aside-info-wrapper p {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.aside-info-wrapper p span {
    font-weight: 700;
}

.aside-quote-wrapper {
    margin-top: 6rem;
    padding: 1rem;
    background: var(--quote-background-color);
}

.quote-text {
    font-style: italic;
    font-weight: 400;
}

.quote-text::before {
    content: "\0ab";
}

.quote-text::after {
    content: "\0bb";
}

.quote-movie {
    font-weight: 300;
    font-size: smaller;
    padding-top: 1rem;
}

/* footer */
.page-footer {
    grid-area: footer;
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--footer-background-color);
    background-image: var(--footer-background-image);
    border-top: solid 0.1rem var(--button-border-color);
}

.footer-top-link {
    text-decoration: none;
    border-radius: 0.2rem;
    color: var(--important-button-text-color);
    background: var(--important-button-background-color);
}

.footer-top-link:hover {
    background: var(--important-button-hover-color);
}

.footer-top-link-container {
    transform: rotate(-90deg);
}
