/* animations and special color effects */

@keyframes rainbow {
    0% {
        background-color: red;
    }

    16% {
        background-color: orange;
    }

    33% {
        background-color: yellow;
    }

    49% {
        background-color: green;
    }

    66% {
        background-color: aquamarine;
    }

    82% {
        background-color: yellow;
    }

    100% {
        background-color: violet;
    }
}

/* Flickering animation */
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

/* themes variables overwrite */
.dark-theme {
    --body-background-color: rgba(20, 20, 20, 1);
    --header-text-color: rgba(190, 190, 190, 1);
    --header-background-image: linear-gradient(to bottom right, rgba(50, 50, 50, 1), rgba(20, 20, 20, 1));
    --header-background-color: rgba(20, 20, 20, 1);
    --content-text-color: rgba(190, 190, 190, 1);
    --content-background-color: rgba(20, 20, 20, 1);
    --entry-background-color: rgba(80, 80, 80, 0.5);
    --aside-text-color: var(--content-text-color);
    --aside-background-color: rgba(40, 40, 40, 1);
    --quote-background-color: rgba(55, 55, 55, 1);
    --footer-text-color: var(--header-text-color);
    --footer-background-color: var(--header-background-color);
    --footer-background-image: linear-gradient(to bottom right, rgba(50, 50, 50, 1), rgba(20, 20, 20, 1));
    --button-text-color: rgba(170, 170, 170, 1);
    --button-background-color: rgba(40, 40, 40, 1);
    --button-hover-color: rgba(20, 20, 128, 1);
    --button-border-color: rgba(130, 130, 130, 1);
    --active-button-text-color: rgba(200, 200, 200, 1);
    --active-button-background-color: rgba(5, 20, 110, 1);
    --important-button-text-color: var(--active-button-text-color);
    --important-button-background-color: rgb(0, 123, 33);
    --important-button-hover-color: rgb(0, 168, 0);
    --entry-border1: 1px solid rgba(100, 100, 100, 1);
    --entry-border-shadow: 1px 3px 4px 1px rgba(255, 255, 255, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.19);
    --popup-background-color: var(--body-background-color);
    --rating-star-color-0: rgb(104, 104, 104);
    --rating-star-color-1: rgb(30, 95, 184);
    --rating-star-color-2: rgb(0, 146, 0);
    --rating-star-color-3: rgb(175, 175, 1);
    --rating-star-color-4: rgb(168, 84, 0);
    --rating-star-color-5: rgb(175, 1, 1);
}

.neon-theme {
    --header-text-color: rgba(230, 255, 255, 1);
    --header-background-image: linear-gradient(to bottom right, rgba(0, 50, 0, 1), rgba(0, 10, 0, 1));
    --header-background-color: rgba(1, 10, 5, 1);
    --body-background-color: var(--header-background-color);
    --content-text-color: var(--header-text-color);
    --content-background-color: var(--header-background-color);
    --entry-background-color: rgba(0, 50, 50, 0.5);
    --aside-text-color: var(--header-text-color);
    --aside-background-color: rgba(5, 25, 10, 1);
    --quote-background-color: rgba(0, 0, 0, 1);
    --footer-text-color: var(--header-text-color);
    --footer-background-color: var(--header-background-color);
    --footer-background-image: linear-gradient(to bottom right, rgba(0, 50, 0, 1), rgba(0, 10, 0, 1));
    --button-text-color: var(--header-text-color);
    --button-background-color: var(--header-background-color);
    --button-hover-color: rgba(20, 20, 200, 1);
    --button-border-color: var(--header-background-color);
    --button-border-shadow:
        0 0 0.2rem #fff,
        0 0 0.2rem #fff,
        0 0 2rem #13febca0,
        0 0 0.8rem #13febca0,
        0 0 1.8rem #08e0a008,
        inset 0 0 1.3rem #08e0a0;
    --entry-border-shadow: var(--button-border-shadow);
    --animation: none;
    --header-animation: flicker 1.5s infinite alternate;
    --popup-background-color: var(--body-background-color);
    --rating-star-color-0: rgb(170, 170, 170);
    --rating-star-color-1: rgb(18, 120, 255);
    --rating-star-color-2: rgb(0, 255, 0);
    --rating-star-color-3: rgb(255, 255, 2);
    --rating-star-color-4: rgb(255, 128, 0);
    --rating-star-color-5: rgb(255, 0, 0);
    --rating-star-shadow-color-0: 0 0 0.2rem var(--rating-star-color-0);
    --rating-star-shadow-color-1: 0 0 0.2rem var(--rating-star-color-1);
    --rating-star-shadow-color-2: 0 0 0.2rem var(--rating-star-color-2);
    --rating-star-shadow-color-3: 0 0 0.2rem var(--rating-star-color-3);
    --rating-star-shadow-color-4: 0 0 0.2rem var(--rating-star-color-4);
    --rating-star-shadow-color-5: 0 0 0.2rem var(--rating-star-color-5);
}

.rainbow-theme {
    --header-text-color: rgba(255, 255, 255, 1);
    --header-background-color: rgba(255, 0, 255, 1);
    --header-background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    --footer-background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    --content-background-color: rgba(255, 255, 255, 0);
    --entry-background-color: rgba(230, 230, 230, 0.5);
    --animation: rainbow 7s infinite alternate;
    --body-background-image:
        linear-gradient(
            rgba(255, 0, 0, 0.1),
            rgba(255, 165, 0, 0.1),
            rgba(255, 255, 0, 0.1),
            rgba(0, 128, 0, 0.1),
            rgba(0, 0, 255, 0.1),
            rgba(75, 0, 130, 0.1),
            rgba(238, 130, 238, 0.1)
        );
    --popup-background-image: var(--body-background-image);
}
